@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display&swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
.logoo{
    width: 90px;
    cursor: pointer;
    margin: 0;
    background-color: black;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    z-index: 100;
}
.flex{
    display: flex;
    align-items: center;
}
.container{
    background-color: #333;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.navbar{
    justify-content: space-between;
    background-color: black;
}
.navbar a{
    padding: 0;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s;
}
.nav-links{
    gap: 20px;
    list-style: none;
    background-color: black;
}

.navbar a:hover{
    color: red;
}
.homepage{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(black.jpg);
    background-position: center;
    background-size: cover;
}
.homepage::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}
.homepage .content{
    position: relative;
    height: 85%;
    flex-direction: column;
    justify-content: center;
}
.homepage .text{
    color:#fff;
    text-align: center;
    margin-bottom: 50px;
}
.homepage .text h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}
.homepage a{
    color: #333;
    display: flex;
    text-decoration: none;
    text-align: center;
    background: black;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 30px;
    transition: 0.3s;
}
.homepage a:hover{
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease 0s;
}
footer{
    text-align: center;
    padding: 3px;
    background-color: black;
    color: #fff;
    font-style: sans-serif;
    font-weight: bold;
}
footer a{
    font-style: italic;
    font-weight: 100;
}

@media only screen and (max-width: 600px) {

}